*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    /* text-align: center; */
    
}
.menu ul li{
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    padding: 10px 25px;

    /* justify-content: space-around; */

}
.menu ul{
    
    display: flex;
}